form{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px gray;
}

body{
    display: flex;
    min-height:100vh;
    align-items:center;
    justify-content:center;
}

/* i want to use color multipal and enhansive */
.row{
    margin: 10px;
    text-align: center;
}
input[type=submit]{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #403c3c;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
    transition: all 0.5s;
}
input[type=submit]:hover{
    transform:scale(0.85);
}